@import 'src/styles/common/mixin';

.header {
  align-items: center;
  background-color: transparent;
  border: none;
  display: flex;
  font-size: 1.5rem;
  height:70px;
  justify-content: space-between;
  position: fixed;
  transition-duration: 0.3s, 0.3s;
  transition-property: background-color, border;
  transition-timing-function: ease,ease;
  width: 100%;
  z-index: 9999;

  &.active {
    background-color: #ffffff;
    border-bottom: #f2f2f2 3px double;
  }

  .menu-icon {
    height: 80%;
  }

  .right-icon {
    display: flex;
    gap:10px;
    height:70%;
    margin-right: 10px;

    img {
      cursor:pointer;
      height:60%;

      @include tablet {
        height:100%;
      }
    }

  }

  .menu {
    align-items:center;
    display:flex;
    height: 100%;
    white-space: nowrap;

    .menu-icon {
      //display:inline-block;
      display:none;

      @include tablet {
        display:none;
      }
    }


  }


  @include tablet {
    height:70px;
  }

}