@import '@/styles/common/mixin';

.about {
  align-items: center;
  color:white;
  height:50vh;


  .title {
    font-size: 2.8rem;
    font-weight: bold;
    margin-bottom: 30px;
  }

  .sub {
    font-size: 1.8rem;
    line-height: 50px;
    margin-bottom: 30px;
  }

  @include tablet {

    .title {
      font-size: 3.0rem;
      font-weight: bold;
      margin-bottom: 30px;
    }

    .sub {
      font-size: 1.8rem;
      line-height: 40px;
      margin-bottom: 30px;
    }
  }

}
