@import '@/styles/common/mixin';

.about {
  align-items: center;
  color:white;

  .title {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 30px;
  }

  .skill {
    border:1px solid white;
    border-radius: 20px;
    color:black;
    margin-top: 30px;
    max-width:1060px;
    padding: 10px 40px;

    .role {
      font-size:2rem;
      text-align: center;
    }

    .skill-name {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;

      li {
        @apply m-4;
      }

      span {
        white-space: nowrap;

        @apply bg-amber-400 p-1  rounded-2xl ;
      }
    }
  }
}
