@import '@/styles/common/mixin';

.skills {
  align-items: center;
  color:white;

  .title {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 30px;
  }

  .skill-board {
    line-height: 35px;
    position: relative;

    ul {

      li {
        margin-bottom: 15px;
      }

      white-space: pre-wrap;
    }


    .skill-name {
      left: -20px;
      position: absolute;
      top: -20px;

      @apply inline-block rounded bg-white px-3  text-xl text-black font-medium leading-normal;
    }

    @apply rounded-md m-5   w-96 h-64 bg-amber-300 shadow-xl shadow-blue-950;

  }

}
