@import '@/styles/common/mixin';

.section {
  margin:40px auto;
  max-width: 1440px;
  padding: 50px 100px;


  .scroll-down-section {
    align-items: center;
    display:flex;
    height:20%;
    justify-content: center;
  }
}
