@import "src/styles/common/mixin";


.gnb {
  display:inline-block;
  font-size: 1rem;


  ul {
    display: flex;
    height: 70%;
    line-height: 70px;
    list-style: none;

  }

  li {
    cursor:pointer;
    padding:0 20px;

  }

  li:hover {
    color:orange;
    transition: color .3s;
  }

  @include tablet {
    display:inline-block;
    font-size: 1.3rem;
    height:70px;
  }

}