:root {
  --white: #ffffff;
  --primary-color: #09b784;

  // Main blue-
  --blue-900: #123d83;
  --blue-800: #08459a;
  --blue-700: #0556c5;
  --blue-600: #0778e6;
  --blue-500: #2585ef;
  --blue-400: #1c90fb;
  --blue-300: #3d9ffd;
  --blue-200: #61b0fd;
  --blue-100: #8ec6fe;
  --blue-60: #e9f5ff;
  --blue-50: #f5fbff;

  //green-: Positive
  --green-900: #107764;
  --green-800: #12846f;
  --green-700: #11957c;
  --green-600: #06a083;
  --green-500: #09b784;
  --green-400: #20c997;
  --green-300: #38d0a3;
  --green-200: #57d3ae;
  --green-100: #69dbb9;
  --green-60: #dcf8f5;
  --green-50: #effdfc;

  // red-: Negative(Warning)
  --red-900: #9b1b1e;
  --red-800: #b7383b;
  --red-700: #c74043;
  --red-600: #db4346;
  --red-500: #f04447;
  --red-400: #fc5356;
  --red-300: #ff6c6e;
  --red-200: #f78385;
  --red-100: #fa9fa0;
  --red-60: #fcdbdc;

  //yellow- / Pending
  --yellow-900: #a26709;
  --yellow-800: #bf7e16;
  --yellow-700: #dd9c0b;
  --yellow-600: #ddaf14;
  --yellow-500: #e6b816;
  --yellow-400: #f0c325;
  --yellow-300: #f4cb3e;
  --yellow-200: #f5d463;
  --yellow-100: #f7dd83;
  --yellow-60: #fcf3db;

  //purple- / Check
  --purple-900: #22046a;
  --purple-800: #300b9c;
  --purple-700: #380eb3;
  --purple-600: #5616e8;
  --purple-500: #6217ee;
  --purple-400: #7f3afb;
  --purple-300: #995eff;
  --purple-200: #bb86fc;
  --purple-100: #dbb3ff;
  --purple-60: #f7efff;

  //gray-Color
  --gray-900: #000000;
  --gray-800: #4a4a4a;
  --gray-700: #666666;
  --gray-600: #838383;
  --gray-500: #939393;
  --gray-400: #9f9f9f;
  --gray-300: #b4b4b4;
  --gray-200: #c7c7c7;
  --gray-100: #d3d3d3;
  --gray-60: #ededed;
  --gray-50: #f8f8f8;

  //gray--blue Color
  --gray-blue-900: #2b374a;
  --gray-blue-800: #3b4450;
  --gray-blue-700: #4b545f;
  --gray-blue-600: #5e6b7b;
  --gray-blue-500: #76818d;
  --gray-blue-400: #9da3aa;
  --gray-blue-300: #babfc6;
  --gray-blue-200: #caced5;
  --gray-blue-100: #dfe2ea;
  --gray-blue-60: #eff1f4;
}


