@import '@/styles/common/mixin';

.project {
  align-items: center;
  color:white;

  .title {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 30px;
  }

  .icon {
    position: absolute;
    top:80%;
    width: 200px;

    img {
      cursor: pointer;
      margin-left:20px;
      width: 50px;
    }
  }

  .company {
    background-color: white;
    border:1px solid white;
    border-radius: 20px;
    color:black;
    display: flex;
    margin-top: 30px;
    max-width:1440px;
    padding: 10px 40px;
    position:relative;

    .role {
      font-size:2rem;
      font-weight: bold;
      width:30%;
    }

    .role-detail {
      font-size: 1.3rem;
      line-height: 2.3rem;
      margin-left: 20px;
      width:65%;

      .skill-list {
        display: flex;
        position: absolute;
        right:0%;
        top:-40px;

        button {
          @apply w-20 h-12 mr-2  rounded-xl border-4 border-red-700 bg-white  text-base  leading-normal text-red-800;
        }
      }

      li {
        list-style: disc;
      }
    }
  }
}
